.pop {
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Shrikhand', cursive;
    font-size: 100px;
    padding-top: 120px;
    margin-top: -10px;
}

a:link {
    color: white;
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Shrikhand', cursive;
    
}

a:visit {
    color: white;
}

a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    

}

a:active {
    text-decoration: none;
    color: white;
}
.ww {
    background-color: black;
    color: black;
    margin-top: -150px;
    text-align: center;
    padding-left: 190px;
    font-size: 165px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    border-radius: 200%;
    border-color: white;
    border-style: solid;
            
}
.w {
    color: white;

    
}
h1, h2 {
    background-color: black;
    color: white;
    margin-left: -10px;
    margin-right: 1000px;
    padding-left: 50px;
    font-family: 'Josefin Slab', serif;
}
table {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 30px;
    border-style: outset;
    border-color: #C9C9C9;
}
p {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}
.black {
    background-color: black;
    color: white;
}
th {
    border: 1px;
    border-style: solid;
}
